<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Manufacturer>
            <version>1.2</version>
        </Ccc_Manufacturer>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <manufacturer>
                    <file>orderstock.xml</file>
                </manufacturer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <manufacturer>
                <class>Ccc_Manufacturer_Model</class>
                <resourceModel>manufacturer_resource</resourceModel>
            </manufacturer>
            <manufacturer_resource>
                <class>Ccc_Manufacturer_Model_Resource</class>
                <entities>
                    <manufacturer>
                        <table>ccc_manufacturer</table>
                    </manufacturer>
                    <brand>
                        <table>ccc_manufacturer_brand</table>
                    </brand>
                    <additional>
                        <table>sales_flat_order_item_additional</table>
                    </additional>
                </entities>
            </manufacturer_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <ccc_manufacturer_additional>
                        <type></type>
                        <class>manufacturer/observer</class>
                        <method>orderItemAddtional</method>
                    </ccc_manufacturer_additional>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <ccc_manufacturer_setup>
                <setup>
                    <module>Ccc_Manufacturer</module>
                </setup>
            </ccc_manufacturer_setup>
        </resources>
        <blocks>
            <manufacturer>
                <class>Ccc_Manufacturer_Block</class>
            </manufacturer>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>Ccc_Manufacturer_Block_Adminhtml_Sales_Order_View_Items</sales_order_view_items>
                    <sales_order_view_items_renderer_default>Ccc_Manufacturer_Block_Adminhtml_Sales_Order_View_Items_Renderer_Default</sales_order_view_items_renderer_default>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <manufacturer>
                <class>Ccc_Manufacturer_Helper</class>
            </manufacturer>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_manufacturer before="Mage_Adminhtml">Ccc_Manufacturer_Adminhtml</ccc_manufacturer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>