<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Outlook>
            <version>1.3</version>
        </Ccc_Outlook>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_outlook>
                    <file>outlook.xml</file>
                </ccc_outlook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>outlook_resource</resourceModel>
            </outlook>
            <outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_outlook_configuration</table>
                    </configuration>
                    <email>
                        <table>ccc_outlook_email</table>
                    </email>
                    <attachment>
                        <table>ccc_outlook_attachment</table>
                    </attachment>
                    <events>
                        <table>ccc_outlook_events</table>
                    </events>
                </entities>
            </outlook_resource>
        </models>
        <resources>
            <outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outlook_setup>
        </resources>
        <blocks>
            <outlook>
                <class>Ccc_Outlook_Block</class>
            </outlook>
        </blocks>
        <helpers>
            <outlook>
                <class>Ccc_Outlook_Helper</class>
            </outlook>
        </helpers>
        <events>
            <hello>
                <observers>
                    <outlook_event_test>
                        <type>singleton</type>
                        <class>outlook/observer</class>
                        <method>checklogs</method>
                    </outlook_event_test>
                </observers>
            </hello>
        </events>
    </global>
    <crontab>
        <jobs>
            <outlook_fetch_emails>
                <schedule>
                    <cron_expr>4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>outlook/observer::fetch</model>
                </run>
            </outlook_fetch_emails>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</ccc_outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <outlook>
                <use>standard</use>
                <args>
                    <module>Ccc_Outlook</module>
                    <frontName>outlook</frontName>
                </args>
            </outlook>
        </routers>
    </frontend>
</config>
