<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_Payment>
            <version></version>
        </Ccc_Payment>
    </modules>
    <default>
        <payment>
            <paybycheck>
                <model>ccc_payment/method_paybycheck</model>
            </paybycheck>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <ccc_payment>
                    <file>ccc_payment.xml</file>
                </ccc_payment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ccc_payment>
                    <file>ccc_payment.xml</file>
                </ccc_payment>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ccc_payment>
                <class>Ccc_Payment_Model</class>
            </ccc_payment>
        </models>
        <blocks>
            <ccc_payment>
                <class>Ccc_Payment_Block</class>
            </ccc_payment>
            <payment>
                <rewrite>
                    <form>Ccc_Payment_Block_Form_Paybycheck</form>
                </rewrite>
            </payment>
        </blocks>
    </global>
</config>