.ticket-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.ticket-table th, .ticket-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ticket-table th {
    background-color: #f2f2f2;
    color: #333;
}

/* .ticket-table td {
    background-color: #fff;
} */

/* .ticket-table tr:nth-child(even) td {
    background-color: #f9f9f9;
} */

.view-btn {
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

/* Optional styling to hide select and show span by default */
.editable-select .ticket-select {
    display: none;
}


/* Style for the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filter-btn-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
}

#filter-btn-div button {
    padding: 10px 20px;
    border: none;
    /* background-color: #007bff; */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


.pagination-btn {
    padding: 10px 20px;
    margin-bottom: 10px;
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
