<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_SimilarItems>
            <version>1.1</version>
        </Ccc_SimilarItems>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_similar>
                    <file>similaritems.xml</file>
                </ccc_similar>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <items>
                <class>Ccc_SimilarItems_Model</class>
                <resourceModel>item_resource</resourceModel>
            </items>
            <item_resource>
                <class>Ccc_SimilarItems_Model_Resource</class>
                <entities>
                    <items>
                        <table>ccc_similar_items</table>
                    </items>
                </entities>
            </item_resource>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <ccc_similaritem_update>
                        <type>singleton</type>
                        <class>items/observer</class>
                        <method>updateHasSimilarItem</method>
                    </ccc_similaritem_update>
                </observers>
            </catalog_product_save_after>
        </events>
        <resources>
            <item_setup>
                <setup>
                    <module>Ccc_SimilarItems</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </item_setup>
        </resources>
        <blocks>
            <items>
                <class>Ccc_SimilarItems_Block</class>
            </items>
        </blocks>
        <helpers>
            <items>
                <class>Ccc_SimilarItems_Helper</class>
            </items>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_similaritems before="Mage_Adminhtml">Ccc_SimilarItems_Adminhtml</ccc_similaritems>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>