<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Productseller>
            <version>2.1</version>
        </Ccc_Productseller>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ccc_seller>
                    <file>productseller.xml</file>
                </ccc_seller>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ccc_seller>
                    <file>productseller.xml</file>
                </ccc_seller>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <seller>
                <class>Ccc_Productseller_Model</class>
                <resourceModel>seller_resource</resourceModel>
            </seller>
            <seller_resource>
                <class>Ccc_Productseller_Model_Resource</class>
                <entities>
                    <seller>
                        <table>ccc_seller</table>
                    </seller>
                </entities>
            </seller_resource>
        </models>
        <resources>
            <productseller_setup>
                <setup>
                    <module>Ccc_Productseller</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productseller_setup>
        </resources>
        <blocks>
            <seller>
                <class>Ccc_Productseller_Block</class>
            </seller>
            <!-- <product>
                <rewrite>
                    <view>Ccc_Productseller_Block_Product_View</view>
                </rewrite>
            </product> -->
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Productseller_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <seller>
                <class>Ccc_Productseller_Helper</class>
            </seller>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_productseller before="Mage_Adminhtml">Ccc_Productseller_Adminhtml</ccc_productseller>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>