<?xml version="1.0"?>

<config>
    <modules>
        <Ccc_Catalog>
            <version>2.3</version>
        </Ccc_Catalog>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ccc_order>
                    <file>ccc_order.xml</file>
                </ccc_order>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Ccc_Catalog>
                    <file>ccc_catalog.xml</file>
                </Ccc_Catalog>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Ccc_Catalog before="Mage_Checkout">Ccc_Catalog</Ccc_Catalog>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <blocks>
            <ccc_catalog>
                <class>Ccc_Catalog_Block</class>
            </ccc_catalog>
            <checkout>
                <rewrite>
                    <cart>Ccc_Catalog_Block_Cart</cart>
                    <cart_item_renderer>Ccc_Catalog_Block_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_configurable>Ccc_Catalog_Block_Item_Configurable</cart_item_renderer_configurable>
                    <cart_item_renderer_grouped>Ccc_Catalog_Block_Item_Grouped</cart_item_renderer_grouped>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order>Ccc_Catalog_Block_Adminhtml_Sales_Order</sales_order>
                    <sales_order_grid>Ccc_Catalog_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_view_tab_info>Ccc_Catalog_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>    
        </blocks>
        <models>
            <ccc_catalog>
                <class>Ccc_Catalog_Model</class>
            </ccc_catalog>
        </models>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <ccc_catalog_attribute_add>
                        <type>singleton</type>
                        <class>ccc_catalog/observer</class>
                        <method>addCustomProductAttributes</method>
                    </ccc_catalog_attribute_add>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <resources>
            <ccc_catalog_setup>
                <setup>
                    <module>Ccc_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ccc_catalog_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <brand>
                    <to_order_item>*</to_order_item>
                </brand>
                <shipping_type>
                    <to_order_item>*</to_order_item>
                </shipping_type>
            </sales_convert_quote_item>
            
            <sales_convert_quote_address>
                <address_proof>
                    <to_order_address>*</to_order_address>
                </address_proof>
            </sales_convert_quote_address>

            <sales_convert_quote>
                <delivery_note>
                    <to_order>*</to_order>
                </delivery_note>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <default>
        <sales>
            <brand>
                <show_brand_name>1</show_brand_name>
            </brand>
        </sales>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_catalogadmin before="Mage_Adminhtml">Ccc_Catalog_Adminhtml</ccc_catalogadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>